.selectInput {
  composes: input from 'Components/Form/CheckInput.css';
}

.folder {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 200px;
  line-height: 36px;
}

.monitor,
.seriesType {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 200px;
}

.qualityProfile {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 250px;
}

.seasonFolder {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 150px;
}

.series {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 400px;
}
